# Compiled class file
*.class

# mac folders
.DS_Store
# if the pattern does not contain a slash, it is matched against the file name in all directories
# https://stackoverflow.com/questions/107701/how-can-i-remove-ds-store-files-from-a-git-repository

# socool log files
*.log.txt

